body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 90px;
  row-gap: 50px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  color: #00b0f0;
  font-size: 25px;
}

a {
  font-size: 18px;
  color: #fff;
  transition: all 0.2s ease;
  text-decoration: none;
  line-height: 1;
}

a:hover {
  color: #00b0f0;
}